In [1]:
import pandas as pd
import numpy as np

## Pandas Series

In [4]:
g7_pop = pd.Series([35.467,
                   63.951,
                   80.940,
                   60.665,
                   127.061,
                   64.511,
                   318.523])

In [5]:
g7_pop

0     35.467
1     63.951
2     80.940
3     60.665
4    127.061
5     64.511
6    318.523
dtype: float64

In [6]:
#Series can have a name
g7_pop.name='G7 Population in millions'

In [7]:
g7_pop

0     35.467
1     63.951
2     80.940
3     60.665
4    127.061
5     64.511
6    318.523
Name: G7 Population in millions, dtype: float64

In [8]:
g7_pop.dtype

dtype('float64')

In [9]:
g7_pop.values

array([ 35.467,  63.951,  80.94 ,  60.665, 127.061,  64.511, 318.523])

In [11]:
type(g7_pop.values)

numpy.ndarray

In [12]:
g7_pop[0]

35.467

In [13]:
g7_pop.index

RangeIndex(start=0, stop=7, step=1)

In [14]:
g7_pop.index = [
    'Canada',
    'France',
    'Germany',
    'Italy',
    'Japan',
    'United Kingdom',
    'United States'
]

In [15]:
g7_pop

Canada             35.467
France             63.951
Germany            80.940
Italy              60.665
Japan             127.061
United Kingdom     64.511
United States     318.523
Name: G7 Population in millions, dtype: float64

In [16]:
pd.Series({
    'Canada': 35.467,
    'France': 63.951,
    'Italy': 60.665,
    'Japan':127.061,
    'United Kingdom':64.511,
    'United States':318.523
}, name='G7 Population in Millions')

Canada             35.467
France             63.951
Italy              60.665
Japan             127.061
United Kingdom     64.511
United States     318.523
Name: G7 Population in Millions, dtype: float64

## Indexing

In [17]:
g7_pop

Canada             35.467
France             63.951
Germany            80.940
Italy              60.665
Japan             127.061
United Kingdom     64.511
United States     318.523
Name: G7 Population in millions, dtype: float64

In [21]:
g7_pop[['Canada','France']]

Canada    35.467
France    63.951
Name: G7 Population in millions, dtype: float64

numeric position with `iloc` attribute:

In [34]:
g7_pop.iloc[[2,3]]

Germany    80.940
Italy      60.665
Name: G7 Population in millions, dtype: float64

In [26]:
g7_pop.iloc[-1]

318.523

In [36]:
g7_pop.iloc[0:1]

Canada    35.467
Name: G7 Population in millions, dtype: float64

In [37]:
g7_pop['Canada':'Italy']

Canada     35.467
France     63.951
Germany    80.940
Italy      60.665
Name: G7 Population in millions, dtype: float64

## Conditional selection

In [38]:
g7_pop

Canada             35.467
France             63.951
Germany            80.940
Italy              60.665
Japan             127.061
United Kingdom     64.511
United States     318.523
Name: G7 Population in millions, dtype: float64

## Conditionals

In [39]:
g7_pop > 70

Canada            False
France            False
Germany            True
Italy             False
Japan              True
United Kingdom    False
United States      True
Name: G7 Population in millions, dtype: bool

In [40]:
g7_pop[g7_pop > 70]

Germany           80.940
Japan            127.061
United States    318.523
Name: G7 Population in millions, dtype: float64

In [41]:
g7_pop.mean()

107.30257142857144

## Operations and methods

In [42]:
g7_pop

Canada             35.467
France             63.951
Germany            80.940
Italy              60.665
Japan             127.061
United Kingdom     64.511
United States     318.523
Name: G7 Population in millions, dtype: float64

In [43]:
g7_pop * 1_000_000

Canada             35467000.0
France             63951000.0
Germany            80940000.0
Italy              60665000.0
Japan             127061000.0
United Kingdom     64511000.0
United States     318523000.0
Name: G7 Population in millions, dtype: float64

In [44]:
g7_pop.mean()

107.30257142857144

In [45]:
np.log(g7_pop)

Canada            3.568603
France            4.158117
Germany           4.393708
Italy             4.105367
Japan             4.844667
United Kingdom    4.166836
United States     5.763695
Name: G7 Population in millions, dtype: float64

In [46]:
g7_pop[(g7_pop > 80) | (g7_pop < 40)]

Canada            35.467
Germany           80.940
Japan            127.061
United States    318.523
Name: G7 Population in millions, dtype: float64

## Modifying series

In [47]:
g7_pop

Canada             35.467
France             63.951
Germany            80.940
Italy              60.665
Japan             127.061
United Kingdom     64.511
United States     318.523
Name: G7 Population in millions, dtype: float64

In [48]:
g7_pop['Canada'] = 'f'

In [49]:
g7_pop

Canada                  f
France             63.951
Germany             80.94
Italy              60.665
Japan             127.061
United Kingdom     64.511
United States     318.523
Name: G7 Population in millions, dtype: object

In [50]:
g7_pop['Canada'] = 40.5

In [51]:
g7_pop

Canada               40.5
France             63.951
Germany             80.94
Italy              60.665
Japan             127.061
United Kingdom     64.511
United States     318.523
Name: G7 Population in millions, dtype: object

In [52]:
g7_pop

Canada               40.5
France             63.951
Germany             80.94
Italy              60.665
Japan             127.061
United Kingdom     64.511
United States     318.523
Name: G7 Population in millions, dtype: object

In [53]:
g7_pop[-1] = 500

In [54]:
g7_pop

Canada               40.5
France             63.951
Germany             80.94
Italy              60.665
Japan             127.061
United Kingdom     64.511
United States         500
Name: G7 Population in millions, dtype: object

In [55]:
g7_pop[g7_pop < 70] = 99.99

In [56]:
g7_pop

Canada              99.99
France              99.99
Germany             80.94
Italy               99.99
Japan             127.061
United Kingdom      99.99
United States         500
Name: G7 Population in millions, dtype: object